ul.tabs {
             list-style-type: none;
             margin: 0;
             padding: 0;
         }

         ul.tabs>li {
             display:inline-block;
             padding: 10px;
             background-color: lightgray;
         }

         ul.tabs>li:hover {
             background-color: yellow;
         }

         ul.tabs>li.selected {
             background-color: orange;
         }

         div.content {
             border: 1px solid black;
         }
