<!DOCTYPE html>
<html lang="en">

<head>
    <title> Wynn > Guilds </title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        border-width: 0px;
}
img {

	height:auto;
}
    </style>

</head>

<body>

    <div class="container">
        <div class="header">


        </div>
<center>
<a href="/home">Home&nbsp;&nbsp;</a>
<a href="/wynn">&nbsp;&nbsp;Wynncraft</a>

  </nav>
        <div class="container">
        <img class ="hi" src="/static/wynnlogo.png" width="600" height="1000">

    <div class="container">
        <div class="header">


        </div>

        <div style="text-align:center">
          <img class="hi" src="/static/gear_wynn.png" width="194" height="400" alt="Card image cap"
        </div>
        <div class="card text-center">

          <div class="card">

            <h2 class="card-title">Search for an Item!</h2>
            <p class="card-text">Type in the name of the item you are looking for to get its statistics!</p>

            <form class="form-signin">
            <label for="itemName" class="sr-only">Item Name</label>
            <input type="name" name="itemName" id="itemName" class="form-control" placeholder="Item Name" required autofocus>

          </form>
          </div>



      <footer class="footer">
        <p>&copy; 2018 Cai Noel</p>
      </footer>

    </div>
  </body>
</html>
